@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

:root{
    font-family: 'Poppins', sans-serif;
    color:#023b2d;
}

.nav{
    width:1900px;
    height:80px;
    list-style: none;
    display: flex;
    justify-content: stretch;
}

.nav-left{
    margin-left: 60px;
    display: grid;
    width:250px;
    justify-items: center;
    align-items: center; 
}

.logo{
 grid-column: 1;
 justify-self: center;
 margin-right: 10px;
}
  
.logo1{
    grid-column: 2;
    justify-self: end;
}

.nav-right{
    margin-right: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:1650px;
}

.nav-right a {
    list-style: none;
    text-decoration: none;
    color: #023b2d;
    font-size: 14px;
    margin: 0 30px;
}

.nav-right-buscar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border:  #023b2d solid 1px; 
    position:absolute;
    transform: translate(-10px,-12px);
}

.nav-right-buscar span{
    position:absolute;
    transform: translate(12px,10px);
}

.hero {
    background-image: url("/01EG-Web-Home-Desktop.jpg");
    width: 1920px;
    height: 750px;
}